.saldo{
    margin-top: 40PX;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size:large ;
}

.viajes{
    margin-top: 40PX;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size:large ;
}

.btn{
    margin-top: 30px;
    width: 250px;
    --background:#000000;
  }