.correo{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 40px;
    font-size: 20px;
    background-color: #FFDFAA;
    border-radius: 20px;
    padding-left: 70px;
    padding-bottom: 10px;
    color: #000000;
}

.pass{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 40px;
    font-size: 20px;
    background-color: #FFDFAA;
    border-radius: 20px;
    padding-left: 100px;
    padding-bottom: 10px;
    color: #000000;
}

.btn{
    margin-left: 70px;
    margin-top: 40px;
    width: 250px;
    --background:#000000;
  }

.recuperar{
    color: #ffffffa6;
    font-size: 20px;
    margin-left: 70px;
}