/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.custom-t{
  color: #FFDFAA;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.custom-l {
  color: #FFDFAA;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.custom-a {
  color: #FFDFAA;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.degradado-negro {
  background: linear-gradient(to bottom, #368C79, #1C7964, #0C6350, #004B3B, #003025);
  width: 100%;
  height: 200px;
}

.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-family: serif;
  font-size: xxx-large;
  height: 100vh;
  background-color: cadetblue;
}

ion-menu::part(backdrop) {
  background-color: rgba(255, 0, 255, 0.61);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.288);
}
.menuclass{
  background-color: #b8ffaa;
  color: black;
}

.btn-menu{
  --background : #b8ffaa ;
}

.menu{
  color:rgb(255, 255, 255);
  margin-top: 15px;
  margin-left: 10px;
}
.btn-menu{
  color: black;
}